h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Rom{
    background-color: rgb(255,20,147);
}
#Luc{
    background-color: #dbbba3;
}
#Trystan {
    background: linear-gradient(35deg, rgb(37, 95, 221), rgb(60, 44, 209));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    border-radius: 50px;
    color: white;
    text-align: center;
}

#Trystan h2  {
    color: white;
}

#Trystan p {
    color: white;
}

.title{
    color: green; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green; 
}
